h1 {
    text-decoration: underline;
}
.style1 {
    background-color: rgb(169, 253, 210); /*changes background color to seagreen*/
    padding: 25px;
    border-radius: 25px; /*Rounds out border of class element*/
    border-color: rgb(11, 107, 54);
}