html {
    background-color: rgb(224, 224, 224);
}
h1 {
    text-decoration: underline;
}
/*.style selects the class element in thew html, changes all class elements to the same*/
.style1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}
/*#number selects ID element in the html to target that ID specifically*/
#number1 { 
    font-size: 12px; 
}
img {
    border: 20em;
    padding: 10em;
    margin: 10em;
}